@import './constants.scss';

@mixin button-style {
    background-color: $BACKGROUND_GRAY;
    border: $BACKGROUND_GRAY 1px solid;
    border-radius: 20px;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: $dissolve-animation;
  }

  @mixin fonts($color, $font-size, $line-height) {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
  }

  
  